{{#each files}}

<div class="col-xs-4 col-sm-2 folder-info">
  <a href="{{url}}" target="_blank">
  <img class="icon" src="icon-file.png">
  </a>
  <h5>{{name}}</h5>
  <h6>Created on: {{createdAt}}</h6>
  <h6>Modified on: {{updatedAt}}</h6>
</div>

{{/each}}
